<main role="main" class="container" >
   <div class="starter-template">
      <div class="jumbotron" id="main" align="center">
         <h1 style="text-align:center;color:rgb(0,0,4);">Login</h1>
         <p> Login For Admin </p>
         <form action="">
            Username: ASTRUM <br>
            Password: <input type="password" name="password" id ="pwd">
            <p><a class="btn btn-primary" role="button" href="/#admin-page" style="background-color:rgb(249,225,5);color:rgb(1,1,16);"> Enter</a></p>
         </form>
      </div>
      <div></div>
   </div>
   <script>
      function myFunction() {
      
          var attempt = 3;
          var x = document.getElementById("pwd"),value
          if (password == "astrum123"){
      alert ("Login successfully");
      window.location = "AdminControl.html"; // Redirecting to other page.
      return false;
      }
      
      else{
      attempt --;// Decrementing by one.
      alert("You have left "+attempt+" attempt;");
      // Disabling fields after 3 attempts.
      if( attempt == 0){
      document.getElementById("pwd").disabled = true;
      }
      return false;
      }
   </script>
</main>