<main role="main" class="container">
    <div >
     <div >
        <h1 style="text-align:center;color:rgb(0,0,4);"> Instructions for metamask </h1>
		<div align="center">
		<img src="./img/metamask.jpg" style="width:200px;height:200px;">
	</div>

</div>
</div>
<div>
	
<p> <i> Part 1: Installing Metamask </i> <br> <br>
Step 1: You can install Metamask here: https://metamask.io<br>
Step 2: Click “Add to Chrome” to Install MetaMask as Google Chrome extension. <br>
Step 3: Click “Add Extension” to confirm and MetaMask will be added. <br>
You can see that MetaMask is added by the little fox logo that shows up on the top right corner. <br>
</p>

<p><i>Part 2: Creating a wallet </i> <br><br>

Step 1: Click on the Metamask logo. <br>
Step 2: Read and agree to the MetaMask terms and Conditions. <br>
Step 3: Click “Create a new vault”, or “Create new wallet”. This depends on your browser. <br>
Step 4: Enter a strong password and click “OK”. <br>
Step 5: Metamask will now show you your seed. It is very important that you copy and store those 12 worlds, without them you cannot restore your wallet. <br>


</p>
<p>
<i>Instructions for game : </i> <br><br>
Step 1: Choose Custom RPC and provide the  following url: http://34.218.215.190:7545  and save it.<br>
Step 2: Import an account using the private key provided to you. <br>
Now you are connected to the blockchain network with some ether balance in your account. <br>
</p>


<i><h1 style="text-align: center;color: orange"> You are all set to play. Get Ready to win some Ethers.</h1></i>
</div>

<div>
	<p align="center"><a class="btn btn-primary" href="/#"role="button" >Get your private key</a></p>
</div>
</main>

