
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    

      <div class="item" align="center">
        <img src="./img/cover.jpg" alt="Chicago" style="width:250% height:90%;">
      </div>
    

<main role="main" class="container" >

    <div class="starter-template">
     <div class="jumbotron" id="main" style="background-color: white; ">
        <h1 style="text-align:center;color:rgb(0,0,4);">Astrum Online Crypto Lottery</h1>
        <p></p>
        <p><a class="btn btn-primary" role="button" href="/#game" ><strong>lets play</strong></a></p>
        <audio id = "my_audio" src="./Limits.wav" loop="infinite" ></audio>
        
        <script type="text/javascript">
        
window.onload = function() {
    document.getElementById("my_audio").play();
}

    </script>
    </div>
    <div></div>
    </div>

</main>
