<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Astrum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="account-address" class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a id="account-balance" class="nav-link" href="#"></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="starter-template">
     <div class="jumbotron" id="main">
        <h1 style="text-align:center;color:rgb(0,0,4);">Astrum Online Crypto Lottery</h1>
        <p></p>
        
        <button class="btn btn-primary" onclick="startgame()">Start game </button>
       <button class="btn btn-primary" onclick="stopgame()" > Stop game </button>
       <p id="winner"></p>

    </div>
    <h3>And the winner is: </h3>
    <div id="demo"></div>
    </div>

</main>

<div class="footer-basic" align="center">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <div class="copyright" style="color:rgb(115,10,10);">All rights reserved Astrum Project Team -15</div>
    </footer>
</div>
<script>
    function startgame()
    {
        console.log("game started");
    }
function stopgame()
{
      $.ajax({url: "rest/admin/stop/game?_" + new Date(), success: function(result){
        console.log(result);
        document.getElementById("demo").innerHTML=result;
    }});
}

</script>

</body>
</html>