<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/lib/angular/angular.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-route/angular-route.js"></script>

</head>
<body ng-app="lotteryApp">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Astrum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="account-address" class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a id="account-balance" class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="ng-scope" ng-view=""></div>

    <div class="footer-basic" align="center">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright" style="color:rgb(115,10,10);">All rights reserved Astrum Project Team -15</p>
        </footer>
    </div>
    <script type="text/javascript" src="javascripts/lib/truffle-contract.js"></script>
    <script type="text/javascript" src="javascripts/lib/web3.min.js"></script>
    <script type="text/javascript" src="javascripts/angApp.js"></script>
    <script type="text/javascript" src="javascripts/controller/welcomeCtrl.js"></script>
    <script type="text/javascript" src="javascripts/controller/gamesCtrl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script>
        $.getJSON('BettingEther.json', function(protchainArtifact) {
            var web3Provider;
            if (typeof window.web3 !== 'undefined') {
                web3Provider = window.web3.currentProvider;
                //    window.web3 = new Web3(web3.currentProvider);
            } else {
                // set the provider you want from Web3.providers
                web3Provider = new Web3.providers.HttpProvider('http://localhost:7545');
                window.web3 = new Web3(web3Provider);
            }
            window.redBlackContract = TruffleContract(protchainArtifact);
            window.redBlackContract.setProvider(web3Provider);

        });

    </script>

</body>
</html>
